body{
  margin:0;
}

.container{
width: 95%;
margin:auto;
overflow: hidden;
}

.nav{
  padding: 5px 50px;
  margin: 0;
  display: inline;
  font-size: 18px;
}

#navbar{
  background: black;
  color:white;
}

#NW{
  font-family: 'Heebo', sans-serif;
}

